body
{
	font-family: sans-serif;
	/*background-size: cover;*/
}

h1{
	color:#27ae60 ;
	text-align: center;
}
.new
{
	background-color: #22a6b3;
	height: 460px;
	width: 800px;
	opacity: 0.8;
	    margin-left: 650px;
    margin-top: -110px;
	border-radius: 15pt;
}
.new h1
{
	font-family: sans-serif;
	color: black;
}
.new ul li
{
	font-family: sans-serif;
	color: black;
	font-size: 17px;
	padding-top: 30px;
}
.image
{
	float: left;
    width: 33.33%;
    height: 700px;
    padding: 0;
}
.signupform
{
	width: 300px;
	box-shadow: 0 0 3pc 0 rgba(red, green, blue, alpha);
	background:rgb(18, 19, 19);
	padding: 20px;
	padding-top: -20px;
	margin: 6% auto 0;
  margin-bottom: -70px;
	text-align: center;
	opacity: 0.8;
	border-radius: 15pt;
}
.inputbox
{
	border-radius: 20px;
	padding: 10px;
	margin: 10 px 0;
	width: 90%;
	border: 1px solid #999;
}

.loginform
{
	width: 300px;
	box-shadow: 0 0 3pc 0 rgba(red, green, blue, alpha);
	background:rgb(18, 19, 19);
	padding: 20px;
	margin: 6% auto 0;
  margin-bottom: -90px;
	text-align: center;
	opacity: 0.8;
	border-radius: 15pt;
}
.conf
{
	color: seashell;
}
.signupbutton
{
	padding: 3%;
	border-radius: 8pt;
	color: white;
	background: #2980b9;
}
.conf a
{
	color: yellow;
}
.message
{
	color: red;
}
.navbar ul li{
  float: left;
  display: inline-block;
  word-spacing: 50px;
  color: #fff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: -70px;
}
.navbar p{
  float: left;
  display: inline-block;
  word-spacing: 0px;
  color: #fff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 9px;

}
.rounded-circle
{
  margin-top: 7px;
  margin-right: 15px; 
}
.navbar ul li a{
	
	color: white;

	text-decoration: none;
  height: 40px;
  font-size: 15px;
  margin-top: 5px;

  }
  .navbar{
	  margin-top: -95px;
	  margin-bottom: 50px;
	  float: right;
  }
  header
  {
  	height: 100px;
  	width: 100%;
  	background-color: black;
  	opacity: 0.9;
  }
  .logo
  {
  	padding-left: 30px;
  	padding-bottom: 40px;
  	margin-top: 20px;
  }
  .index-intro
  {
  	height: 90px;
  	width: 270px;
  	background-color: green;
  	opacity: 1;
    margin-top: -170px;
  	margin-left: 850px;
  	border-radius: 15pt;
  	margin-bottom: 30px;
    padding: 1%;
  }
  .index-intro h1
  {
  	
  	text-align: center;
  	color: white;
  }
 
  
  .box1
  {
  	height: 150px;
  	width: 250px;
  	background-color: black;
  	opacity: 0.8;
  	margin-top: 2%;
  	line-height: -10px;
  	float: left;
  	margin-left: 180px;
  	border-radius: 15pt;

  }
  
  .box2
  {
  	height: 150px;
    width: 250px;
    background-color: black;
    opacity: 0.8;
    margin-top: 2%;
    line-height: -10px;
    float: left;
    margin-left: 180px;
    border-radius: 15pt;

  }
  
  .box3
  {
  	height: 150px;
    width: 250px;
    background-color: black;
    opacity: 0.8;
    margin-top: 2%;
    line-height: -10px;
    float: left;
    margin-left: 180px;
    border-radius: 15pt;

  }

  .box4
  {
  	height: 150px;
    width: 250px;
    background-color: black;
    opacity: 0.8;
    margin-top: 2%;
    line-height: -10px;
    float: left;
    margin-left: 180px;
    border-radius: 15pt;

  }
  .box1 h3
  {
    text-align: center;
    line-height: 150px;
    color: white;
  }
  .box2 h3
  {
    text-align: center;
    line-height: 150px;
    color: white;
    text-decoration: none;
  }
  .box3 h3
  {
    text-align: center;
    line-height: 150px;
    color: white;
  }
  .box4 h3
  {
    text-align: center;
    line-height: 150px;
    color: white;
  }
  .box1 a
  {
  	text-decoration: none;
  	color: white;
  }
  .box2 a
  {
  	text-decoration: none;
  	color: white;
  }
  .box3 a
  {
  	text-decoration: none;
  	color: white;
  }
  .box4 a
  {
  	text-decoration: none;
  	color: white;
  }
  .profile-box
  {
  	height: 570px;
  	width: 600px;
  	margin: 0 auto;
  	margin-top: 60px;
  	background-color: #273c75;
  	border-radius: 15pt;
  	color: white;
  	/*opacity: 0.9;*/
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .profile-box h2
  {
  	text-align: center;
  	margin-left: 70px;
  }
  .btn-default
  {
  	margin-right: 650px;
  	margin-top: 30px;
  	border-radius: 10pt;
  	background-color: skyblue;
  	opacity: 2;

  }
  .profile-table
  {
  	height: 250px;
  	width: 400px;
  	margin-left: 100px;
  	text-align: center;
  }
  .signup-footer
  {
    height: 90px;
    width: 100%;
    margin-top: 145px;
    background-color: black;
  }
    .signup-footer h3
  {
    float: left;
    color: lightgrey;
    font-size: 20px;
    padding-right: 100px;
  }
    .login-footer
  {
    height: 90px;
    width: 100%;
    margin-top: 455px;
    background-color: black;
  }
    .login-footer h3
  {
    float: left;
    color: lightgrey;
    font-size: 20px;
    padding-right: 100px;
  }

  .index-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 455px;
  	background-color: black;
  }
    

   .index-footer h3
  {
  	float: left;
  	color: lightgrey;
  	font-size: 20px;
  	padding-right: 100px;
    

  }
  .profile-footer
  {
  	height: 80px;
  	width: 100%;
  	margin-top: 160px;
  	background-color: black;
  }
    

   .profile-footer h3
  {
  	float: left;
  	color: lightgrey;
  	font-size: 20px;
  	padding-right: 100px;

  }
    .editform-footer
  {
    height: 90px;
    width: 100%;
    margin-top: 130px;
    background-color: black;
  }
    .editform-footer h3
  {
    float: left;
    color: lightgrey;
    font-size: 20px;
    padding-right: 100px;
  }
  .med-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 170px;
  	background-color: black;
  }
    

   .med-footer h3
  {
  	float: left;
  	color: lightgrey;
  	font-size: 20px;
  	padding-right: 100px;

  }
  .bbank-footer
  {
    height: 90px;
    width: 100%;
    margin-top: 165px;
    background-color: black;
  }
    

   .bbank-footer h3
  {
    float: left;
    color: lightgrey;
    font-size: 20px;
    padding-right: 100px;

  }
    .history-footer
  {
    height: 90px;
    width: 100%;
    margin-top: 300px;
    background-color: black;
  }
    

   .history-footer h3
  {
    float: left;
    color: lightgrey;
    font-size: 20px;
    padding-right: 100px;

  }
  .doc-footer
  {
  	height: 90px;
  	width: 100%;
  	background-color: black;
  }
    

   .doc-footer h3
  {
  	float: left;
  	color: #27ae60;
  	font-size: 20px;
  	padding-right: 100px;

  }
    .home-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 550px;
  	background-color: black;
  }
    

   .home-footer h3
  {
  	float: left;
  	color: lightgrey;
  	font-size: 20px;
  	padding-right: 100px;

  }
      .reg-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 420px;
  	background-color: black;
  }
    

   .reg-footer h3
  {
  	float: left;
  	color: #27ae60;
  	font-size: 20px;
  	padding-right: 100px;

  }
    .sign-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 420px;
  	background-color: black;
  }
    

   .sign-footer h3
  {
  	float: left;
  	color: #27ae60;
  	font-size: 20px;
  	padding-right: 100px;

  }
      .home-footer
  {
  	height: 90px;
  	width: 100%;
  	margin-top: 300px;
  	background-color: black;
  }
    

   .home-footer h3
  {
  	float: left;
  	color: #27ae60;
  	font-size: 20px;
  	padding-right: 100px;

  }

  .propic
  {
  	margin-left: 205px;
  }
  .form-inline
  {
  	margin-top: 20px;
  	width: 500px;
  	margin-left: 10px;
  }
  .btn
  {
  	margin-left: 1px;
  }
  .editform
  {
  	margin-left: 80px;
  	width: 300px;
  }
  .profile_info
  {
  	margin-left: 190px;
  	color: white;
  	margin-bottom: 20px;
  }
  .editbox
  {
  	height: 600px;
  	width: 450px;
  	margin-left: 730px;
  	margin-top: 50px;
  	background-color: #273c75;
  	border-radius: 15pt;
  }
  .wrapper
  {
  	width: 900px;
  	height: 600px;
  	background-color: black;
  	opacity: 0.8;
  	color: white;
  	margin-bottom: 800px;
  	margin-left: 550px;
  }
  .scroll
  {
  	height: 400px;
  	width: 100%;
  	overflow: auto;
  }
  #shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

  /*<style type="text/css">
	body{
		background-image: url("background.png");
		background-position: cover;
	background-repeat: no-repeat;
	}
</style>*/